/**
 * Base
 */
body {
  font-family: Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100%;
  background: #eee;
  color: #363636;
}

h1 {
  display: none;
}

#uxColorScale {
  width: 100%;
  height: 1000px;
  background: #a3a3a3;
  position: relative;
}

#uxColorScale ul,
#uxColorWheel ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

::selection {
  background: rgba(25, 184, 236, 0.38);
}

::-moz-selection {
  background: rgba(25, 184, 236, 0.38);
}

.hidden {
  display: none;
}

/**
 * Gamut
 */
ul.gamut li {
  position: absolute;
  height: 2px;
  background-color: #adadad;
  left: 25px;
}

/**
 * Color
 */
li.color {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 21px;
  margin: 0;
  padding: 0;
  display: block;
  cursor: pointer;
}

li.color.dark {
  border: 1px solid #fff;
}

li.color.light {
  border: 1px solid #000;
}

li.color.base {
  width: 80px;
  height: 80px;
  border-radius: 41px;
  z-index: 1;
  margin-left: -20px;
  margin-top: -20px;
}

li.color.small {
  width: 20px;
  height: 20px;
  border-radius: 11px;
  margin-left: 10px;
  margin-top: 10px;
}

li.color.off {
  display: none;
}

li.color.active {
  box-shadow: 0px 0px 3px 2px #19b8ec;
  cursor: auto;
}

ul.exp li.color {
  display: none;
}

ul.exp li.color.base {
  display: block;
}

/**
 * Input Form
 */
#uxColorInputForm input {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 100%;
  line-height: 1;
  border: 1px solid #cbcbcb;
  padding: 2px;
  width: 55px;
  text-align: right;
  margin: 2px 2px 2px 0;
}

#uxColorInputForm input:focus {
  outline: 0;
  box-shadow: 0px 0px 3px 1px #19b8ec;
  border: 1px solid #0da0ce;
}

#uxColorInputForm input::selection {
  background: rgba(25, 184, 236, 0.38);
}

#uxColorInputForm input::-moz-selection {
  background: rgba(25, 184, 236, 0.38);
}

#uxColorInputForm #uxColorHexInput {
  width: 75px;
  text-align: left;
}

#uxColorInputForm .button-pair {
  float: right;
  padding: 3px 0;
}

#uxColorInputForm .button-pair button {
  float: left;
  background: #d6e0f4;
  background: -moz-linear-gradient(top, #ebeff7 0%, #d6e0f4 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ebeff7), color-stop(100%, #d6e0f4));
  background: -webkit-linear-gradient(top, #ebeff7 0%, #d6e0f4 100%);
  background: -o-linear-gradient(top, #ebeff7 0%, #d6e0f4 100%);
  background: -ms-linear-gradient(top, #ebeff7 0%, #d6e0f4 100%);
  background: linear-gradient(to bottom, #ebeff7 0%, #d6e0f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ebeff7', endColorstr='#d6e0f4', GradientType=0);
  color: #0943c2;
  border: 1px solid #a7c2f5;
  margin: 0;
  width: 22px;
  height: 22px;
  box-sizing: border-box;
  text-align: center;
}

#uxColorInputForm .button-pair button:hover {
  background: #a7c2f5;
  background: -moz-linear-gradient(top, #bfd1f3 0%, #a7c2f5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bfd1f3), color-stop(100%, #a7c2f5));
  background: -webkit-linear-gradient(top, #bfd1f3 0%, #a7c2f5 100%);
  background: -o-linear-gradient(top, #bfd1f3 0%, #a7c2f5 100%);
  background: -ms-linear-gradient(top, #bfd1f3 0%, #a7c2f5 100%);
  background: linear-gradient(to bottom, #bfd1f3 0%, #a7c2f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bfd1f3', endColorstr='#a7c2f5', GradientType=0);
  border-color: #77a2fb;
  color: #042c85;
}

#uxColorInputForm .button-pair button:focus {
  outline: 0;
  box-shadow: 0px 0px 3px 1px #19b8ec;
  border-color: #77a2fb;
}

#uxColorInputForm .button-pair button:active {
  background: #2260ec;
  background: -moz-linear-gradient(top, #1450da 0%, #2260ec 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1450da), color-stop(100%, #2260ec));
  background: -webkit-linear-gradient(top, #1450da 0%, #2260ec 100%);
  background: -o-linear-gradient(top, #1450da 0%, #2260ec 100%);
  background: -ms-linear-gradient(top, #1450da 0%, #2260ec 100%);
  background: linear-gradient(to bottom, #1450da 0%, #2260ec 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1450da', endColorstr='#2260ec', GradientType=0);
  border-color: #042c85;
  color: #fff;
}

#uxColorInputForm .button-pair .button-decrease {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  padding: 2px 3px 4px 6px;
}

#uxColorInputForm .button-pair .button-increase {
  border-left: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  padding: 2px 6px 4px 3px;
}

/**
 * Color Wheel
 */
#uxColorWheel {
  background: #989898;
  width: 100%;
  height: 50px;
  position: relative;
}

#uxColorWheel li.color {
  top: 5px;
}

#uxColorWheel .popover {
  left: 0;
  bottom: 45px;
}

#uxColorWheel li.small .popover {
  left: 0;
  bottom: 25px;
}

#uxColorWheel .popover:after {
  top: auto;
  left: 10px;
  bottom: -10px;
  border: 10px solid #eee;
  border-bottom-width: 0;
  border-left-color: transparent;
  border-right-color: transparent;
}

#uxColorWheel li.small .popover:after {
  left: 0;
}

/**
 * Color Info
 */
#colorInfo {
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  overflow-y: scroll;
}

#colorInfo h2 {
  background: #ddd;
  background: -moz-linear-gradient(top, #ddd 0%, #e6e6e6 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ddd), color-stop(100%, #e6e6e6));
  background: -webkit-linear-gradient(top, #ddd 0%, #e6e6e6 100%);
  background: -o-linear-gradient(top, #ddd 0%, #e6e6e6 100%);
  background: -ms-linear-gradient(top, #ddd 0%, #e6e6e6 100%);
  background: linear-gradient(to bottom, #ddd 0%, #e6e6e6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ddd', endColorstr='#e6e6e6', GradientType=0);
  font-size: 100%;
  font-weight: bold;
  color: #585858;
  padding: 5px 10px;
  margin: 0;
}

#uxBaseColorSwatch {
  position: absolute;
  left: 9px;
  top: 33px;
  width: 80px;
  height: 80px;
  outline: 1px solid #cbcbcb;
}

#uxBaseColorSwatch.light {
  border: 1px solid #000;
}

#uxBaseColorSwatch.dark {
  border: 1px solid #fff;
}

#colorInfo dl {
  margin: 10px 10px 20px 100px;
}

#colorInfo dl:after {
  display: table;
  clear: both;
  height: 0;
  width: 0;
  content: ' ';
}

#colorInfo dt,
#colorInfo dd {
  float: left;
  width: 125px;
  margin: 0;
  line-height: 1;
}

#colorInfo dt {
  font-size: 87.5%;
  line-height: 1.1429;
  color: #747474;
  text-align: right;
  margin-right: 0;
  width: 75px;
  clear: both;
  padding: 5px 10px 0 0;
  display: block;
}

#colorInfo dt.margin,
#colorInfo dd.margin {
  margin-top: 3px;
  border-top: 1px solid #ddd;
  padding-top: 5px;
}

#colorInfo dt.margin {
  padding-top: 10px;
}

#colorInfo dd > span {
  display: block;
  padding: 5px 0;
}

#colorInfo dd span span.value {
  display: inline-block;
  padding: 0;
}

/**
 * Color Scale Palette
 */
#colorScales ul {
  margin: 10px 0;
  padding: 0;
}

#colorScales li.color {
  position: relative;
  width: auto;
  height: 40px;
  margin: 0;
  border-radius: 0;
}

#colorScales li.color.small {
  height: 20px;
}

#colorScales li.color:first-child {
  height: 41px;
}

#colorScales li.color.small:first-child,
#colorScales li.color.small:last-child {
  height: 21px;
}

#colorScales li.color .swatch {
  position: absolute;
  left: 9px;
  top: 0;
  width: 80px;
  height: 40px;
}

#colorScales li.color.small .swatch {
  height: 20px;
}

#colorScales li.color .swatch.light {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

#colorScales li.color .swatch.dark {
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

#colorScales li.color:first-child .swatch.light {
  border-top: 1px solid #000;
}

#colorScales li.color:first-child .swatch.dark {
  border-top: 1px solid #fff;
}

#colorScales li.color:last-child .swatch.light {
  border-bottom: 1px solid #000;
}

#colorScales li.color:last-child .swatch.dark {
  border-bottom: 1px solid #fff;
}

#colorScales li.color.active {
  height: auto !important;
  background: #bbe7fc;
  background: -moz-linear-gradient(top,  #d0edfb 0%, #bbe7fc 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d0edfb), color-stop(100%, #bbe7fc));
  background: -webkit-linear-gradient(top,  #d0edfb 0%, #bbe7fc 100%);
  background: -o-linear-gradient(top,  #d0edfb 0%, #bbe7fc 100%);
  background: -ms-linear-gradient(top,  #d0edfb 0%, #bbe7fc 100%);
  background: linear-gradient(to bottom,  #d0edfb 0%, #bbe7fc 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d0edfb', endColorstr='#bbe7fc', GradientType=0);
  box-shadow: none;
}

#colorScales li.color.active .swatch {
  top: 9px;
  height: 80px;
  box-shadow: 0px 0px 3px 2px #19b8ec;
}

#colorScales li.color.active .swatch.light {
  border: 1px solid #000;
}

#colorScales li.color.active .swatch.dark {
  border: 1px solid #fff;
}

#colorScales .info {
  padding: 10px 0 0;
}

#colorScales li.color.small .info {
  padding: 0;
}

#colorScales li.color.active .info {
  padding: 10px 0;
}

#colorScales dl {
  margin: 0 10px 0 100px;
}

#colorScales dt,
#colorScales dd {
  display: none;
}

#colorScales dd.hex {
  display: block;
  font-size: 75%;
}

#colorScales dd.hex a.apply {
  display: none;
}

#colorScales li.color.active dt,
#colorScales li.color.active dd {
  display: block;
}

#colorScales li.color.active dt.margin,
#colorScales li.color.active dd.margin {
  border-top: 1px solid #e2f2fb;
}

#colorScales li.color.active dt {
  color: #3b6274;
}

#colorScales li.color.active dd.hex {
  font-size: 100%;
}

#colorScales li.color.active a.apply {
  float: right;
  display: inline-block;
  width: 14px;
  height: 14px;
  color: #fff;
  background-color: #2260ec;
  text-decoration: none;
  border-radius: 8px;
  font-size: 87.5%;
  line-height: 14px;
  padding: 1px;
  margin: -1px 0;
}

#colorScales li.color.active a.apply:hover,
#colorScales li.color.active a.apply:active,
#colorScales li.color.active a.apply:focus {
  text-decoration: none;
  background-color: #0943c2;
  color: #fff;
}

/**
 * Contrasting Colors
 */

#colorScales .contrast {
  display: none;
}

#colorScales li.color.active .contrast {
  display: block;
  padding-bottom: 10px;
}

#colorScales .contrast p {
  margin: 5px 10px;
  font-size: 87.5%;
}

#colorScales .contrast strong {
  font-weight: normal;
  color: #3b6274;
}

#colorScales .contrast ul {
  margin: 3px 10px;
  list-style: none;
  padding: 2px 0;
}

#colorScales .contrast ul:after {
  display: block;
  content: " ";
  height: 0;
  line-height: 0;
  display: block;
  clear: both;
}

#colorScales .contrast li.contrast-color {
  position: relative;
  width: 75px;
  height: 20px;
  line-height: 20px;
  font-size: 75%;
  float: left;
  padding-left: 25px;
}

#colorScales .contrast li.contrast-color .swatch {
  position: absolute;
  left: 4px;
  top: 2px;
  width: 16px;
  height: 16px;
  border: 0;
  box-shadow: none;
}